body{
    
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
}
main, nav{
   margin: auto 150px;
   max-width: 1440px;
}

p {
    font-size: 15px;
    color: var(--Dark-grayish-blue);
    line-height: 30px;
}
/*colors*/
:root {
    /*primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /*neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

}
/*nav sec*/
nav{
    margin-bottom: 60px;
    
}
ul svg {
    position: absolute;
    left: 150px;
}

 li a{
    text-decoration: none;
    margin-left: 55px;
    color: var(--Dark-grayish-blue);
}
li { 
    list-style-type: none;
    display: inline;
    position: relative;
    left: 465px;
    
}
/*grid container*/
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.item1 {
    grid-area: area1;
}
.item2 {
    grid-area: area2;
}

.grid-container1 {
    display: grid;
    grid-template-areas: "area1 area2";
}

/* sec1*/
.sec1-mob-img {
    display: none;
}
.sec1-img {
    height: 300px;
    width: 700px;
}
h1 {
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 50px;
}
button {
    background-color: var(--Soft-red);
    border: none;
    color: var(--Off-white);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 195px;
    margin-top: 50px;
}
#sec1 p {
    margin-left: 65px;
    width: 350px;
}

/* sec2*/
#sec2 {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    height: 480px;
    width: 290px;
    padding: 30px;
    margin-left: 30px;
}
 #sec2 h2 {
    color: var(--Soft-orange);
    font-size: 1.5em;
}


/* sec3*/
#sec3 {
    margin-top: 40px;
}
h3 {
    color: var(--Grayish-blue);
    font-size: 30px;
}
#sec3 h4 {
    color: var(--Very-dark-blue);
}
.container {
    display: flex;
    
}
#sec3 img {
    width: 160px;
    height: 180px;
    float: left;
    margin-right: 10px;
    padding-top: 35px;
}
.container > div {
    flex: 1;
    margin-right: 5px;
    
}
/*footer*/
footer {
    margin-top: 30px;
}

/*media*/
 @media screen and (max-width: 767px){
    main, nav{
        margin: auto 50px;
        
     }
    .sec1-img {
        display: none;
    }
    .sec1-mob-img {
        display: block;
        max-width: 450px;
        max-height: 550px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }
    
    .grid-container1 {
        display: grid;
        grid-template-areas: "area1";
    }
 }

