body{
    max-width: 1440px;
    background-color: var(--Off-white);
}
main, nav{
   margin: auto 150px;
}
p {
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}
/*colors*/
:root {
    /*primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /*neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

}
/*nav sec*/
nav{
    margin-bottom: 60px;
    
}

 li a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--Dark-grayish-blue);
}
li { 
    list-style-type: none;
    display: inline;
    position: relative;
    left: 400px;
    
}

/* sec1*/
.sec1-img {
    height: 300px;
    width: 700px;
}

/* sec2*/
#sec2 {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    height: 400px;
    width: 300px;
    padding: 30px;
}
 #sec2 h2 {
    color: var(--Soft-orange);
}


/* sec3*/