body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    
}

/*colors*/
:root {
    /*primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /*neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

}
p {
    font-size: 15px;
    color: var(--Dark-grayish-blue);
    line-height: 30px;
}

.container {
    display: grid;
    margin-right: 50px;
    margin: 0 250px;
    width: 900px;
    position: relative;
    gap: 25px;
    grid-template-areas: "nav nav"
                          "main aside"
                          "section section"
                          "footer footer";
    grid-template-columns: 900px 400px;
    grid-template-rows: 110px 600px 400px 60px;
}
nav, .container {
    margin: auto 110px;
    
 }
 nav {
    background-color: aqua;
    grid-area: nav;
}
ul svg {
    position: absolute;
    left: 8px;
}

 li a{
    text-decoration: none;
    margin-left: 45px;
    color: var(--Dark-grayish-blue);
}
li { 
    list-style-type: none;
    display: inline;
    position: relative;
    left: 735px;
    
}

main {
    background-color: rgba(137, 43, 226, 0.572);
    grid-area: main;
}
main img {
    height: 300px;
    width: 900px;
}
.sec1-mob-img {
    display: none;
}
h1 {
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 65px;
}
main p {
    margin-left: 65px;
    margin-top: 50px;
}
button {
    background-color: var(--Soft-red);
    border: none;
    color: var(--Off-white);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 195px;
    margin-top: 50px;
}

.item1 {
    grid-area: area1;
    width: 370px;
    
}
.item2 {
    grid-area: area2;
    width: 380px;
}

.grid-container1 {
    display: grid;
    grid-template-areas: "area1 area2";
}
aside {
    background-color: var(--Very-dark-blue);
    grid-area: aside;
    color: var(--Off-white);
    padding: 30px;
    
}
aside h2 {
    color: var(--Soft-orange);
    font-size: 1.5em;
}
.article {
    border-bottom: 1px solid var(--Grayish-blue);
}
section {
    background-color: coral;
    grid-area: section;
}
h3 {
    color: var(--Grayish-blue);
    font-size: 30px;
}
section h4 {
    color: var(--Very-dark-blue);
}
section img {
    width: 160px;
    height: 180px;
    float: left;
    margin-right: 20px;
    padding-top: 35px;
}
.container2 {
    display: flex;
    
}
.sec3 {
    width: 1000px;
}
.info {
    width: 400px;
}
footer {
    background-color: black;
    grid-area: footer;
    margin-top: 10px;
}


@media screen and (max-width: 767px){
    .container {
        margin: 0px 20px;
    }
    .container, .grid-container1, .container2 {
        display: flex ;
        flex-direction: column;
        grid-template-rows: 100px 100px 100px ;
        
        
    }
    nav, .container {
        margin: auto 10px;
        
     }
    .sec1-mob-img {
        display: block;
        width: 450px;
        height: 450px;
    }
    
    .sec1-img {
        display: none;
    }
    main p {
        margin-left: 25px;
        margin-top: 40px;
        font-size: 20px;
    }
    li { 
        list-style-type: none;
        display: block;
        position: relative;
        left: 245px;
        
    }
    p {
        font-size: 18px;
    }
    
   nav, main, section {
    max-width: 500px;
   }
   section {
    height: 900px;
    
   }
   aside {
    width: 400px;
   }
   aside h2 {
    font-size: 40px;
   }
   aside h4 {
    font-size: 26px;
   }
   section h3 {
    font-size: 40px;
   }
   section h4 {
    font-size: 26px;
   }
   section img {
    height: 230px;
    width: 170px;
   }
 
.info {
    width: 500px;
}
}
